body {
  margin: 0;
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center;    
  background: linear-gradient(to right, #74ebd5, #ACB6E5); 
  font-family: Arial, sans-serif;
}

.container {
  text-align: center; 
  background: white; 
  padding: 30px; 
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

input, button {
  padding: 8px;
  margin: 5px;
  font-size: 16px;
}

/*@alejandromcht */